<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="../../static/css/bootstrap.min.css"
        th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
  <link href="../../static/css/navbar.css"
        th:href="@{/css/navbar.css}" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css"
        rel="stylesheet">
  <link href="../../static/css/updateResults.css"
        th:href="@{/css/updateResults.css}" rel="stylesheet">
  <script src="../../static/js/jquery-1.12.3.min.js"
          th:src="@{/js/jquery-1.12.3.min.js}">
  </script>
  <script src="../../static/js/bootstrap.min.js"
          th:src="@{/js/bootstrap.min.js}">
  </script>
  <title>Register</title>
</head>
<body>
<div class="container">
  <header th:replace="fragments/header :: header"></header>
  <main>
    <article class="panel panel-default">
      <header class="panel-heading panel-title">
        Update results
      </header>
      <table class="table">
        <thead>
        <tr>
          <th class="col-md-1">#</th>
          <th class="col-md-3">Player 1</th>
          <th class="col-md-3">Player 2</th>
          <th class="col-md-5">Winner</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="game, stat : ${round.games}">
          <td th:text="${stat.index + 1}"></td>
          <td th:text="${game.competitors[0].account.username}"></td>
          <td th:text="${game.competitors[1].account.username}"></td>
          <td>
            <form th:action="@{/support/updateResults/__${stat.index}__}"
                  th:object="${round.games[__${stat.index}__]}"
                  method="post" action="#" class="form-inline">
              <div class="form-group competitor-select">
                <select th:field="*{winner}" id="winner" class="form-control">
                  <option th:each="competitor : ${game.competitors}"
                          th:value="${competitor.account.username}"
                          th:text="${competitor.account.username}">
                  </option>
                </select>
              </div>
              <div class="form-group competitor-button">
                <button type="submit" class="btn btn-primary">
                  <i class="fa fa-edit"></i> Update
                </button>
              </div>
            </form>
          </td>
        </tr>
        </tbody>
      </table>
    </article>
  </main>
</div>
</body>
</html>