<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
 	<meta charset="utf-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link href="../static/css/bootstrap.min.css"
  	      th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
  	<link href="../static/css/navbar.css"
  	      th:href="@{/css/navbar.css}" rel="stylesheet">
  	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css"
  	      rel="stylesheet">
  	<script src="../static/js/bootstrap.min.js"
    	      th:src="@{/js/bootstrap.min.js}">
  	</script>
  	<title>Profile</title>
</head>
<body>
	<header th:replace="fragments/header :: header"></header>
	<article>
		<div class="row">
			<div class="col-md-4"></div>
			<!--
			<div class="col-md-4">
				<label>Profil użytkownika</label>
			</div>
			 -->
		</div>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<div class="panel panel-primary">
					<div class="panel-heading">
    					<h3 class="panel-title">Profil użytkownika</h3>
  					</div>
  					<div class="panel-body" th:object="${account}">
	  					<div class="row">
							<div class="col-md-2"></div>
							<div class="col-md-3"></div>
							<div class="col-md-4">
								<label th:field="*{username}" id="username" th:text="${username}"></label>
							</div>
						</div>
						<div class="row">
							<div class="col-md-2"></div>
							<div class="col-md-3">
								<span class="fa fa-user" aria-hidden="true"></span>
								<label>Imię i Nazwisko: </label>
							</div>
							<div class="col-md-4">
								<label th:field="*{name}" id="name" th:text="${name}"></label>
							</div>
						</div>
						<div class="row">
							<div class="col-md-2"></div>
							<div class="col-md-3">
								<span class="fa fa-calendar" aria-hidden="true"></span>
								<label>Data urodzenia: </label>
							</div>
							<div class="col-md-4">
								<label th:field="*{birthdate}" id="birthdate" th:text="${#temporals.format(birthdate, 'dd.MM.yyyy')}"></label>
							</div>
						</div>
						<div class="row">
							<div class="col-md-2"></div>
							<div class="col-md-3">
								<span class="fa fa-envelope" aria-hidden="true"></span>
								<label>E-Mail: </label>
							</div>
							<div class="col-md-4">
								<label th:field="*{email}" id="email" th:text="${email}"></label>
							</div>
						</div>
						<div class="row">
							<div class="col-md-2"></div>
							<div class="col-md-3">
								<span class="fa fa-phone-square" aria-hidden="true"></span>
								<label >Tel: </label>
							</div>
							<div class="col-md-4">
								<label th:field="*{phone}" id="phone" th:text="${phone}"></label>
							</div>
						</div>
						<div class="row">
							<div class="col-md-2"></div>
							<div class="col-md-3">
								<span class="fa fa-pencil-square-o" aria-hidden="true"></span>
								<label>Opis: </label>
							</div>
							<div class="col-md-4">
								<label th:field="*{description}" id="description" th:text="${description}"></label>
							</div>
						</div>
  					</div>
				</div>
			</div>
		</div>
		<div class="row">
  			<div class="col-md-4"></div>
  			<div class="col-md-4">
  				<a class="btn btn-lg btn-primary btn-block" href="#"
						 th:href="@{/account/editaccount}">
						Edytuj
					</a>
  			</div>
		</div>
	</article>
	<footer></footer>
</body>
</html>